* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #034153;
  color: #dddddd;
}

#header {
  background-color: #434343;
  top: 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  margin-bottom: 1.5%;
  overflow: hidden;
}

#header a {
  color: #dddddd;
  text-decoration: none;
}

#header a:hover {
  color: #dddddd;
  overflow: hidden;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#header:visited {
  color: #dddddd;
}

#header:active {
  color: #dddddd;
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 3%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #434343;
}

#footer a {
  color: #dddddd;
  text-decoration: none;
}

#footer a:hover {
  color: #dddddd;
  overflow: hidden;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

#footer:visited {
  color: #dddddd;
}

#footer:active {
  color: #dddddd;
}

.indexMain {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.indexMain .encabezado {
  margin-left: 2%;
}

.indexMain .encabezado .encabezado__h1 {
  color: #71a2b0;
  font-size: 30px;
  font-weight: normal;
}

.indexMain .encabezado .encabezado__h2 {
  color: #b2b2b2;
  font-size: 20px;
  font-weight: lighter;
}

.indexMain .relleno {
  margin-top: 2%;
  margin-bottom: -3%;
}

.indexMain .relleno .relleno__lista {
  list-style-type: none;
  margin-bottom: 7%;
  display: inline-block;
}

.indexMain .relleno .relleno__lista .relleno__h3 {
  color: #71a2b0;
  font-size: 16px;
  font-weight: lighter;
  display: inline;
  margin-left: 1%;
}

.indexMain .relleno .relleno__lista p {
  margin-left: 5.9%;
  font-weight: lighter;
}

.indexMain .indexLista {
  margin-top: -5%;
  margin-bottom: -7%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: lighter;
}

.indexMain .indexLista .indexLista__1,
.indexMain .indexLista .indexLista__2,
.indexMain .indexLista .indexLista__3 {
  line-height: 50px;
}

.nosotrosMain {
  margin-top: -1.5%;
}

.nosotrosMain .nosotrosImg1 {
  -webkit-animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.nosotrosMain .nosotrosBox {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.nosotrosMain .nosotrosBox .encabezadoMain {
  color: #71a2b0;
}

.nosotrosMain .nosotrosBox .nosotrosTexto {
  font-weight: lighter;
  margin-top: 1%;
}

.nosotrosMain .nosotrosBox .nosotrosTexto a {
  text-transform: uppercase;
}

.nosotrosMain .nosotrosBox .nosotrosTexto a:hover {
  color: #b2b2b2;
}

.nosotrosMain .nosotrosBox .nosotrosTexto a:visited {
  color: #dddddd;
}

.nosotrosMain .nosotrosBox .nosotrosTexto a:active {
  color: #dddddd;
}

.nosotrosMain .nosotrosBox .nosotrosLista {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: lighter;
  margin-top: 1%;
}

.nosotrosMain .nosotrosBox .nosotrosLista .nosotrosLista__1,
.nosotrosMain .nosotrosBox .nosotrosLista .nosotrosLista__2,
.nosotrosMain .nosotrosBox .nosotrosLista .nosotrosLista__3 {
  line-height: 40px;
}

.nosotrosMain .nosotrosBox .cierreMain {
  color: #71a2b0;
  text-align: center;
  margin-top: 2%;
}

.staffCards {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.staffCards .staff1 {
  -webkit-animation: slide-in-tl 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-tl 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.staffCards .staff2 {
  -webkit-animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.staffCards .staff3 {
  -webkit-animation: slide-in-tr 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-tr 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.staffCards .staff4 {
  -webkit-animation: slide-in-bl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.staffCards .staff5 {
  -webkit-animation: slide-in-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.staffCards .staff6 {
  -webkit-animation: slide-in-br 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-br 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */